var/locks
var/cache
var/session
downloader
.project
.idea
.htaccess.sample
.settings
.svn
nbproject
app/etc/local.xml
index.php.sample
php.ini.sample
media/catalog/*/cache
app/etc/local.xml.additional
app/etc/local.xml.template
media/js
media/css
includes/src